---
---
.post {
  margin-bottom: 2em;
  h1, h2, h3, h4, p {
    padding: 0 10px;
  }
  figure {
    margin-bottom: 3em;
  }
  figcaption {
    font-size: .8em;
    padding: 0 20px;
    span {
      float: right;
    }
  }
  img {
    width: 100%;
  }
  iframe {
    min-height: 200px;
    width: 100%;
  }
}

.archive-link {
  color: rgba(0,0,0,0.5);
  margin-bottom: 1em;
  text-align: center;
  transition: all 0.15s ease-in;
}

@media screen and (min-width: 650px) {
  .post {
    margin-bottom: 4em;
    h2, h3, h4 {
      margin: 0 auto;
      max-width: 900px;
    }
    p {
      margin: 0 auto 1.5em auto;
      max-width: 900px;
    }
    iframe {
      min-height: 700px;
    }
  }
  .archive-link {
    margin: 1em 0;
  }
}



@media screen and (min-width: 1400px) {
  .post {
    font-size: 130%;
    margin: 0 auto 4em auto;
    max-width: 1200px;
    p {
      max-width: 85%;
    }
  }
}
