---
---

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fullscreen,
.fullscreen body {
  background: url('/images/rainy-day-man.jpg') no-repeat center center fixed;
  //background: url('/images/black-white/sears-abstract.jpg') no-repeat center center fixed;
  //background: url('/images/portfolio/archways.jpg') no-repeat center center fixed;
  //background: url('/images/portfolio/sears-reach2.jpg') no-repeat center center fixed;
  //background: url('/images/portfolio/blue-sky-walk.jpg') no-repeat center center fixed;
  //background: url('/images/chicago/wrigley-clock.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  background: url('/images/blue-sky-walk-blur.jpg') no-repeat center center fixed;
  background-size: cover;
  //font-family: 'Proxima Nova', "proxima-nova", Helvetica, Arial, sans-serif;
  font-family: "freight-text-pro", Times, serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "jaf-bernino-sans-condensed", sans-serif;
}

h1 { font-size: 2.369em; }
h2 { font-size: 1.777em; }
h3 { font-size: 1.333em; }
h4, h5, h6 { font-size: 1em; }

p {
  color: rgba(0,0,0,0.75);
  letter-spacing: 0.01rem;
  line-height: 1.75em;
}

a, a:visited {
  color: black;
  transition: all 0.15s ease-in;
  text-decoration: none;
}
a:hover {
  color: #555;
}

.quote {
  font-style: italic;
  padding: 0 2em;
}




article p a {
  font-weight: 400;
}

header {
  position: relative;
  z-index: 10;
}

figure img {
  max-width: 100%;
}


figure.vertical img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}
figure.vertical figcaption {
  margin: 0 auto;
  width: 60%;
}



.page-content {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  position: relative;
  z-index: 0;
}

.module {
  //background: rgba(255,255,255,0.85);
  background: white;
  margin: 0 auto 2em auto;
  overflow: hidden;
  padding: 60px;
}


.column {
  float: left;
}

.full { width: 100%; }
.two-thirds { width: 66.666%; }
.half { width: 50%; }
.third { width: 33.333%; }
.quarter { width: 25%; }



@media screen and (max-width: 800px) {
  body {
    font-size: 90%;
  }
}
