---
---
@import 'mixins';

header {
  @include sans-serif;
  position: relative;
  .site-title img {
    padding: 10px;
    width: 30%;
  }
  .nav-toggle {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .nav-collapse {
    background: #f9f9f9;
    padding: 0 10px;
    overflow: hidden;
    ul {
      overflow: hidden;
      padding-bottom: 20px;
    }
    section {
      float: left;
      padding: 10px 10px 0 0;
      width: 50%;
    }
    li:last-child a {
      border: none;
    }
    h4 {
      padding-left: 4px;
    }
    a {
      border-bottom: 1px solid white;
      display: block;
      color: #444;
      padding: 4px;
    }
  }
}


@media screen and (min-width: 650px) {
  header {
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 0;
    overflow: hidden;
    width: 95%;
    .site-title img {
      max-width: 150px;
    }
    .nav-toggle {
      top: 60px;
    }
    .nav-collapse {
      background: none;
      overflow: hidden;
      padding: 0 !important;
      ul {
        display: block;
        overflow: hidden;
      }
      section {
        padding-bottom: 1em;
      }
      a {
        border-bottom: 1px solid #f2f2f2;
        color: #777;
        &:hover {
          color: black;
          background: #f9f9f9;
        }
      }
    }
  }
}



/* Footer
----------------------------------------------- */


footer {
  border: 1px solid #e5e4e0;
  background: #f0eded;
  overflow: hidden;
  padding: 30px 10px;
  ul {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 650px) {
  footer div {
    padding: 40px 0;
    margin: 0 auto;
    overflow: hidden;
    max-width: 900px;
    section {
      float: left;
      width: 33.333%;
    }
  }
}
