---
---

@import 'mixins';

.divider {
  margin: 20px 0;
  position: relative;
  text-align: center;
  p {
    @include sans-serif-light;
    background: #fff;
    font-size: .8em;
    display: inline-block;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    border-top: 1px solid rgba(0,0,0,0.25);
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .divider p {
    font-size: 1em;
  }
  .divider:before {
    top: 12px;
  }
}






/* ------------------------------------------- =PO */
.portfolio figure {
  margin-bottom: 2em;
  overflow: hidden;
}
.portfolio figure img {
  width: 100%;
}
.portfolio figcaption {
  color: rgba(0,0,0,0.5);
  font-size: .70em;
  padding: 5px 20px 10px 20px;
}
.portfolio figcaption span {
  float: right;
}

.for-sale span a {
  color: rgba(0,0,0,0.5);
}
.for-sale span a:hover {
  color: #000;
}

@media screen and (max-width: 650px) {
  figure.vertical img { max-width: 1000% !important; }
  figcaption { width: 100% !important; }
  .portfolio figure {
    padding-bottom: 1em;
  }
  figcaption {
    font-size: 1em !important;
    padding: 5px 10px !important;
  }
  figcaption span {
    display: inline-block;
    width: 100%;
  }
  .other-portfolios a {
    height: 100px;
    width: 100%;
  }
  .for-sale span a {
    padding: 0;
  }
}



/* ------------------------------------------------- =AR Archive */

ul.post-list {
  padding: 40px;
  -webkit-column-count: 1;
  column-count: 1;
  span {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 650px) {
  ul.post-list {
    margin: 0 auto;
    max-width: 800px;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media screen and (min-width: 1100px) {
  ul.post-list {
    max-width: 1400px;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

/* -------------------------------------------- Wallpapers */
.iphone-gallery img {
  padding: 10px;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .iphone-gallery {
    overflow: hidden;
    padding-bottom: 10px;
  }
  .iphone-gallery img {
    float: left;
    width: 25%;
  }
}
