/*
  =HN Header & Navigation - content pages
  =FS Fullscreen Index
  =BL Blog Page
  =PO Portfolio Pages
  =AR Archive Page
  =CP Contact Page
*/


/*
  ===============================================================
  =HN Header & Navigation
  ===============================================================
*/

.click-nav {
  float: right;
  padding-top: 1em;
  width: 70%;
}

.click-nav ul {
  position:relative;
}

.click-nav ul > li {
  cursor:pointer;
  float: left;
  list-style:none;
  position:relative;
  width: 25%;
}

.click-nav ul li ul {
  left:0;
  position:absolute;
  right:0;
}

.click-nav ul li a {
  color: rgba(0,0,0,0.35);
  font-family: "jaf-bernino-sans-condensed", sans-serif;
  display:block;
  padding: 10px;
  text-align: center;
  text-decoration:none;
}

.click-sub-nav {
  border-radius: 4px;
  font-size: .75em;
  margin-left: -12.5%;
  width: 125%;
}
.click-sub-nav li {
  width: 100% !important;
}
.click-sub-nav li a {
  background: #fff;
}
.click-sub-nav li a:hover {
  background: #3366cc;
  color: white !important;
}


/* Fallbacks */
.click-nav .no-js ul {display:none;}
.click-nav .no-js:hover ul {display:block;}

@media screen and (max-width: 600px) {
  body {
  }
  .site-header {
    padding: 4% 0 10px 0 !important;
  }
  .site-title {
    display: block;
    float: none !important;
    margin: 0 auto;
    text-align: center;
  }
  .click-nav {
    width: 100%;
  }
  .click-sub-nav {
    margin-left: -37.5%;
    width: 175%;
  }
}

.site-title {
  float: left;
}


.site-title img {
  max-width: 120px;
}


.site-header {
  background: rgba(255,255,255,0.98);
  left: 0;
  padding: 2% 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 200ms;
  transition: transform 200ms linear;
  width: 100%;
  z-index: 10;
}

.site-header a {
  color: white;
  text-decoration: none;
}

.site-header .row {
  margin: 0 auto;
  width: 95%;
  max-width: 1500px;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}




/*
  ===============================================================
  =FS Fullscreen Index
  ===============================================================
*/


.fullscreen,
.fullscreen body {
  //background: url('/images/rainy-day-man.jpg') no-repeat center center fixed;
  //background: url('/images/black-white/sears-abstract.jpg') no-repeat center center fixed;
  //background: url('/images/bm/12.jpg') no-repeat center center fixed;
  //background: url('/images/portfolio/archways.jpg') no-repeat center center fixed;
  //background: url('/images/portfolio/sears-reach2.jpg') no-repeat center center fixed;
  //background: url('/images/portfolio/blue-sky-walk.jpg') no-repeat center center fixed;
  //background: url('/images/chicago/wrigley-clock.jpg') no-repeat center center fixed;
  //background: url('/images/p52/45.jpg') no-repeat center center fixed;
  background: url('/images/posts/sb-sunset2.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.index-anchor {
  position: fixed;
  top: 3%;
  left: 2%;
  width: 10%;
  z-index: 999; }

.index-anchor img {
  max-width: 100%; }

.fullscreen-nav {
  //background: rgba(0,0,0,0.25);
  bottom: 0;
  display: block;
  font-family: "jaf-bernino-sans-condensed", sans-serif;
  font-size: 1.5em;
  left: 50%;
  padding-top: 10%;
  position: absolute;
  right: 0;
  text-align: right;
  text-shadow: 0 0 25px rgba(0,0,0,0.75);
  text-transform: uppercase;
  top: 0;

  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 ); /* IE6-9 */
  //background: none;
}

.fullscreen-nav  a {
  color: white !important;
  display: block;
  padding: 5px 60px 5px 0;
  width: 100%; }

.fullscreen-nav a:hover {
  text-shadow: 0 0 25px rgba(0,0,0,0.95);
  cursor: pointer; }

.fullscreen-nav div {
  font-size: .8em;
  padding-right: 10px;
}

.index-info {
  color: rgba(255,255,255,0.75);
  font-size: .8em;
  position: absolute;
  right: 1em;
  bottom: 1em;
}



@media screen and (max-width: 850px) {
  .index-anchor {
    width: 25%; }
}

@media screen and (max-width: 650px) {
  .fullscreen-nav {
    left: 0;
    padding-top: 8%; }

  .fullscreen-nav a {
    padding-right: 15px; }
}

/*
  ===============================================================
  =PO Portfolio
  ===============================================================
*/
.portfolio figure {
  margin-bottom: 3.5em;
  overflow: hidden;
}
.portfolio figure img {
  width: 100%;
}
.portfolio figcaption {
  color: rgba(0,0,0,0.5);
  font-size: .70em;
  padding: 5px 20px 10px 20px;
}
.portfolio figcaption span {
  float: right;
}

.for-sale span a {
  color: rgba(0,0,0,0.5);
}
.for-sale span a:hover {
  color: #000;
}

@media screen and (max-width: 650px) {
  figure.vertical img { max-width: 1000% !important; }
  figcaption { width: 100% !important; }
  .portfolio figure {
    padding-bottom: 1em;
  }
  figcaption span {
    display: inline-block;
    width: 100%;
  }
  .other-portfolios a {
    height: 100px;
    width: 100%;
  }
  .for-sale span a {
    padding: 0;
  }
}

.store span a {
  font-size: .9em;
  font-weight: bold;
  display: block;
}


/*
  ===============================================================
  =BL Blog Page
  ===============================================================
*/

.blog-list article {
  background: white;
  margin-bottom: 5em;
  padding: 1.5em 0;
}
.blog-list h1 {
  border-bottom: 1px solid #eee;
  padding: 0 2%;
}
.blog-list h2,
.blog-list h3,
.blog-list h4,
.blog-list p {
  padding: 0 20%;
}
.blog-list p {
  margin: 1.75em 0;
}
.blog-list figure {
  font-size: .8em;
  margin: 0 0 1.5em 0;
}
.blog-list figure img {
  width: 100%;
}
.blog-list figcaption {
  font-size: .85em;
  padding: 0 1em;
}
.blog-list figcaption span {
  float: right;
}
.archive-link {
  color: rgba(0,0,0,0.5);
  text-align: center;
  margin-top: -3em;
  transition: all 0.15s ease-in;
}
.archive-link:hover {
  color: #000;
}

@media screen and (max-width: 650px) {
  .page-content {
    width: 100% !important;
  }
  .blog-list article h1,
  .blog-list article h2,
  .blog-list article h3,
  .blog-list article p {
      padding: 0 5%;
  }
  .blog-list article h1 {
    font-size: 1.75em;
    line-height: 1em;
    margin-bottom: 0.75em;
  }
}



/*
  ===============================================================
  =AR Archive
  ===============================================================
*/

.archive-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

}
.archive-list ul {
  list-style: none;
  font-size: .9em;
}
.archive-list ul li a {
  color: #555;
  font-weight: bold;
}
.archive-list ul li a:hover {
  color: #3366cc;
}
.archive-list ul li span {
  color: #999;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .archive-list {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/*
  ===============================================================
  =CP Contact Page
  ===============================================================
*/

#alternate-contacts {
  padding-left: 4em;
}
.social-link { border-spacing: 10px; }

.social-link td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  height: 100px;
  text-align: center;
  width: 100px;
}

.social-link a {
  display: block;
  padding-top: 23px;
  height: 100px;
}

.social-link img { width: 50px; }

form input[type=text],
form input[type=password],
textarea {
  border: 1px solid #ccc;
  font-size: .9em;
  font-weight: 100;
  margin-bottom: 10px;
  outline: none;
  padding: 15px 5px;
  width: 100%;
}

button {
  background: #136899;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 15px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

button:hover {
  background: #1e75aa;
  cursor: pointer;
}


@media screen and (max-width: 600px ) {
  .module {
    padding: 10px !important;
  }
  #contact-form .half {
    margin-bottom: 1em;
    width: 100%;
  }
  #alternate-contacts {
    padding: 0;
  }
}
