/*
  =IN Index
  =BL Blog Page
  =CP Contact Page
*/



/*
  ===============================================================
  =HN Header & Navigation
  ===============================================================
*/

.click-nav {
  float: right;
  padding-top: 1em;
  width: 70%;
}

.click-nav ul {
  position:relative;
}
.click-nav ul > li {
  cursor:pointer;
  float: left;
  list-style:none;
  position:relative;
  width: 25%;
}
.click-nav ul li ul {
  position:absolute;
  left:0;
  right:0;
}

.click-nav ul li a {
  color: #fff;
  font-family: "jaf-bernino-sans-condensed", sans-serif;
  display:block;
  padding: 10px;
  text-align: center;
  text-decoration:none;
}

.click-sub-nav {
  border-radius: 4px;
  font-size: .75em;
  margin-left: -12.5%;
  width: 125%;
}
.click-sub-nav li {
  width: 100% !important;
}
.click-sub-nav li a {
  background: #fff;
  color: #000 !important;
}
.click-sub-nav li a:hover {
  background: #3366cc;
  color: white !important;
}


/* Fallbacks */
.click-nav .no-js ul {display:none;}
.click-nav .no-js:hover ul {display:block;}

@media screen and (max-width: 600px) {
  .site-header {
    padding: 4% 0 80px 0 !important;
  }
  .site-title {
    display: block;
    float: none !important;
    margin: 0 auto;
    text-align: center;
  }
  .click-nav {
    width: 100%;
  }
  .click-sub-nav {
    margin-left: -37.5%;
    width: 175%;
  }
}

.site-title {
  float: left;
}


.site-title img {
  max-width: 120px;
}


.site-header {
  padding: 2% 0 130px 0;
  width: 100%;
}
.site-header a {
  color: white;
  text-decoration: none;
}

.site-header .row {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}


/*
  ===============================================================
  =IN Index
  ===============================================================
*/

.index-anchor {
  position: fixed;
  top: 3%;
  left: 3%;
  width: 10%;
  z-index: 999;
}
.index-anchor img {
  max-width: 100%;
}


#index-links {
  margin: 3% auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.tile2 {
  color: white;
  float: left;
  height: 275px;
  margin: 0 3% 3% 0;
  text-align: center;
  width: 31.3333333%;
}
.tile2:nth-child(3n) {
  margin-right: 0;
}

.tile2 section {
  background: rgba(0,0,0,0.25);
  color: rgba(255,255,255,0.75);
  height: 100%;
  transition: all 0.15s ease-in;
  position: relative;
  text-shadow: 0 0 10px rgba(0,0,0,0.75);
  width: 100%;
}
.tile2 h3 {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}

.tile2:hover {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05)
}
.tile2 section:hover {
  color: rgba(255,255,255,1);
  background: none;
  text-shadow: 0px 1px 10px black;
}

/* Each Tile */
#index-links a {
  background-position: center;
  background-size: cover;
}

#blog {
  background: url('/images/blog.jpg');
}
#portfolio {
  background: url('/images/portfolio.jpg');
  background-position: 90% 80% !important;
}
#p52 { background: url('/images/p52.jpg'); }
#chicago { background: url('/images/chicago.jpg'); }
#nature { background: url('/images/nature.jpg'); }
#black-white { background: url('/images/black-white.jpg'); }
#music { background: url('/images/music.jpg'); }
#store { background: url('/images/store.jpg'); }
#contact {
  background: url('/images/contact.jpg');
  background-position: 90% 10% !important;
}

@media screen and (max-width: 650px) {
  .index-anchor {
    width: 20%;
  }
  .tile2 {
    font-size: 1.5em;
    margin-right: 2%;
    height: 250px;
    width: 100%;
  }
  .tile2:nth-child(3n) {
    margin-right: 2%;
  }
  .tile2 section {
    background: rgba(0,0,0,0.25);
    color: white;
  }
}

/*
  ===============================================================
  =PO Portfolio
  ===============================================================
*/
.portfolio figure {
  background: rgba(0,0,0,0.25);
  margin-bottom: 3.5em;
  color: rgba(255,255,255,0.85);
}
.portfolio figure img {
  width: 100%;
}
.portfolio figcaption {
  font-size: .75em;
  padding: 5px 20px 10px 20px;
}
.portfolio figcaption span {
  float: right;
}

.for-sale span a {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  padding: 5px 15px;
}
.for-sale span a:hover {
  color: #999;
}
@media screen and (max-width: 650px) {
  figure.vertical img { max-width: 1000% !important; }
  figcaption { width: 100% !important; }
  .other-portfolios a {
    height: 100px;
    width: 100%;
  }
}

.store span a {
  background: #3366cc;
  color: white;
  font-size: .9em;
  font-weight: bold;
  display: block;
  margin-top: -12px;
  padding: 8px 15px;

}


/*
  ===============================================================
  =BL Blog Page
  ===============================================================
*/

.blog-list article {
  background: rgba(255,255,255,0.9);
  margin-bottom: 5em;
  padding: 1.5em 0;
}
.blog-list h1,
.blog-list h2,
.blog-list h3,
.blog-list h4,
.blog-list p {
  padding: 0 10%;
}
.blog-list p {
  margin: 1.5em 0;
}
.blog-list figure {
  font-size: .8em;
  margin: .5em 0 1.5em 0;
}
.blog-list figure img {
  width: 100%;
}
.blog-list figcaption {
  font-size: .85em;
  padding: 5px 1em;
}
.blog-list figcaption span {
  float: right;
}

@media screen and (max-width: 650px) {
  .page-content {
    width: 100% !important;
  }
  .blog-list article h1,
  .blog-list article h2,
  .blog-list article h3,
  .blog-list article p {
      padding: 0 5%;
  }
  .blog-list article h1 {
    font-size: 1.75em;
    line-height: 1em;
    margin-bottom: 0.75em;
  }
}


/*
  ===============================================================
  =ST Store
  ===============================================================
*/

/*
  ===============================================================
  =AR Archive
  ===============================================================
*/

.archive-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

}
.archive-list ul {
  list-style: none;
  font-size: .9em;
}
.archive-list ul li a {
  color: #555;
  font-weight: bold;
}
.archive-list ul li a:hover {
  color: #3366cc;
}
.archive-list ul li span {
  color: #999;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .archive-list {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/*
  ===============================================================
  =CP Contact Page
  ===============================================================
*/

#alternate-contacts {
  padding-left: 4em;
}
.social-link { border-spacing: 10px; }

.social-link td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  height: 100px;
  text-align: center;
  width: 100px;
}

.social-link a {
  display: block;
  padding-top: 23px;
  height: 100px;
}

.social-link img { width: 50px; }

form input[type=text],
form input[type=password],
textarea {
  border: 1px solid #ccc;
  font-family: 'Proxima Nova', "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: .9em;
  font-weight: 100;
  margin-bottom: 10px;
  outline: none;
  padding: 15px 5px;
  width: 100%;
}
button {
  background: #136899;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 15px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

button:hover {
  background: #1e75aa;
  cursor: pointer;
}


@media screen and (max-width: 600px ) {
  .module {
    padding: 10px !important;
  }
  #contact-form .half {
    margin-bottom: 1em;
    width: 100%;
  }
  #alternate-contacts {
    padding: 0;
  }
}
