---
---

@import 'mixins';

.store {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  span a {
    font-size: .9em;
    font-weight: bold;
    display: block;
  }
  figure {
    padding: 0;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 650px) {
  .store {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    margin: 2em auto 0 auto;
    max-width: 1400px;
    padding: 0 20px;
    figure {
      margin-bottom: 40px;
    }
  }
}

#store-splash {
  @include sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  position: relative;
  overflow: hidden;
  div {
    color: white;
    float: left;
    background: $slate;
    padding: 20px;
    p {
      color: #999;
      line-height: 1.25em;
      font-size: 0.9em;
    }
  }
  div.image-half {
    background: url('/images/store/store-splash.jpg');
    background-size: cover;
    background-position: 50%;
    height: 250px;
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  #store-splash {
    overflow: hidden;
    font-size: 1.25em;
    padding: 0;
    div.image-half {
      position: absolute;
      bottom: 0;
      top: 0;
      height: auto;
      width: 50%;
    }
    div.text-half {
      display: block;
      float: right;
      padding: 150px 80px 120px 80px;
      width: 50%;
    }
  }
}
