---
layout: page
title: Music collection
permalink: /music/
---

<section class="gallery zoomable">

  {% assign sorted_photos = (site.data.photos | where: "portfolio", "music" | sort: "position") %}

  {% for photo in sorted_photos %}

    <figure class="{{ photo.orientation }}">
      <a href="/{{ photo.image_path }}" title="{{ photo.title }}"><img src="/{{ photo.image_path }}"></a>
      <figcaption>{{ photo.title }}</figcaption>
    </figure>

  {% endfor %}




</section>

{% include gallery_script.html %}
