header.site-header {
  @include outer-container;
  background: white;
  position: relative;
  z-index: 10;
  .site__anchor {
    @include span-columns(5, block-collapse);
  }
  nav {
    @include span-columns(7, block-collapse);
    text-align: right;
  }
  @include media($break__small) {
    padding: 0 10px;
  }
}

// ----------------------------------------- Site Anchor
.site__anchor {
  padding: 10px 5px;
  img {
    max-width: 200px;
  }
  @include media($break__small) {
    padding: 20px 0;
  }
}

// ----------------------------------------- Top level links
.site__navigation--link {
  color: $gray;
  font-size: 0.9em;
  font-weight: 300;
  display: inline-block;
  padding: 12px 5px;
  text-decoration: none;
  &.active {
    background: $off-white;
    color: $charcoal;
    box-shadow: 0 1px 0 0 $charcoal;
  }
  @include media($break__small) {
    font-size: 1em;
    padding: 1.75em .75em;
    &:hover {
      color: $charcoal;
      box-shadow: 0 2px 0 0 $charcoal;
    }
  }
}

// ----------------------------------------- Dropdown Menu

.navigation__dropdown {
  background: rgba(255,255,255,.95);
  bottom: 0;
  left: 0;
  opacity: 0;
  padding-top: 2em;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .25s cubic-bezier(.43,0,.62,1);
  z-index: -1;
  &.open {
    opacity: 1;
    transition: opacity .25s cubic-bezier(.43,0,.62,1);
    z-index: 20;
  }
  @include media($break__small) {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5em;
  }
  @include media($break__medium) {
    background: rbga(255,255,255,.8);
  }
}

// ----------------------------------------- Dropdown Links
.site__navigation--dropdown-link {
  color: $charcoal;
  display: block;
  font-size: 3.5vh;
  font-weight: bold;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:focus {
    background: rgba(0,0,0,.75);
    color: white;
    outline: none;
  }
  @include media($break__small) {
    background: rgba(255,255,255,.75);
    border-bottom: 1px solid rgba(0,0,0,.25);
    align-self: flex-start;
    display: flex;
    font-size: 2vh;
    justify-content: center;
    padding: 4% 0;
    width: 50%;
  }
  @include media($break__medium) {
    width: 33.333%;
  }
}

.site__navigation--dropdown-close {
  color: white;
  cursor: pointer;
  opacity: .75;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  img {
    width: 20px;
  }
  &:hover {
    opacity: 1;
  }
}

// ----------------------------------------- Footer
.site__footer {
  color: $charcoal;
  font-size: .8em;
  padding: 3em 20px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
  a {
    color: $gray;
    &:hover {
      color: black;
    }
  }
  p {
    margin-bottom: 2em;
  }
  @include media($break__small) {
    padding: 8em 20px;
    p {
      margin-bottom: 4em;
    }
  }
}
