#rig {
  background: url('../images/astrophotography/astro-rig.jpg');
  background-size: cover;
  background-position: 50%;
  padding-top: 100%;
  @include media($break__medium) {
    border-right: 10px solid white;
    padding: 0;
    min-height: 90vh;
  }
}

#astro-posts {
  @include media($break__medium) {
    display: flex;
    a {
      padding: 1em;
    }
  }
  @include media($break__large) {
    a {
      padding: 3em;
    }
  }
}

#stars {
  background: url('../images/catalog/0K6A3771-alt.jpg');
  background-size: cover;
  background-position: 50%;
  padding-top: 56.26%;
  @include media($break__medium) {
    border-left: 10px solid white;
    padding-top: 0;
    flex: 1;
  }
}

#astro__moon {
  margin-bottom: 1.5em;
}

#astro-overview {
  @include media($break__medium) {
    display: flex;
    flex-direction: row;
  }
}

#scope-overview {
  display: flex;
  @include media($break__medium) {
    align-items: center;
    font-size: 1.25em;
    justify-content: center;
    padding: 3em;
    width: 50%;
  }
}

#cgem {
  background: url('../images/astrophotography/IMG_8595.jpg');
  background-size: cover;
  background-position: 50%;
  padding-top: 100%;
  @include media($break__medium) {
    padding-top: 60%;
    width: 50%;
  }
}
