// ----------------------------------- BLOG INDEX
.post__listing {
  display: block;
  margin-bottom: 5em;
  padding: 20px;
  text-align: center;
  @include media($break__small) {
    @include span-columns(6);
    @include shift(3);
    padding: 3em;
    &:hover {
      background: $off-white;
      .post__listing--read-more {
        color: black;
        border-color: black;
      }
    }
  }
}

.post__listing--date {
  color: $red;
  font-size: .9em;
  margin: 0;
}


.post__listing--title {
  font-size: 1.4em;
  margin-top: .5em;
  @include media($break__small) {
    margin-top: 1em;
  }
}

.post__listing--intro {
  font-size: .9em;
}

.post__listing--preview {
}

.post__listing--read-more {
  border: 1px solid $hairline;
  color: $gray;
  display: inline-block;
  margin: 1em auto 0 auto;
  padding: 0.5em;
  transition: all .25s ease-in;
}
// ----------------------------------- INDIVIDUAL POSTS
.post-header {
  text-align: center;
  padding: 3em 10px;
  @include media($break__small) {
    padding: 8em 10px;
  }
}

.post-title {
  font-size: 1.25em;
  @include media($break__small) {
    font-size: 2.5em;
  }
}

.post-subtitle {
  font-size: 1em;
  margin-bottom: .5em;
  @include media($break__small) {
    font-size: 1.25em;
  }
}

.post-meta {
  color: $red;
  font-size: 1em;
  margin: 0;
}


.post-content {
  h2, h3, h4, h5, p, ul {
    margin: 0 auto 1.5em auto;
    padding: 0 10px;
    max-width: 35em;
  }
  a {
    border-bottom: 1px solid $charcoal;
    &:hover {
      border: none;
    }
  }
  figure {
    margin: 0 0 1.5em 0;
    figcaption span {
      float: right;
    }
  }
  @include media($break__small) {
    font-size: 130%;
    p {
      line-height: 1.75em;
      margin-bottom: 3em;
    }
    figure {
      margin-bottom: 3em;
      figcaption {
        font-size: .7em;
      }
    }
  }
}

// ----------------------------------- SOCIAL MEDIA LINKS
.post__share-panel {
  @include outer-container(45em);
  margin-bottom: 1.5em;
  padding: 0 10px;
  text-align: center;
  a {
    display: inline-block;
    margin: .5em;
    padding: 10px;
    vertical-align: middle;
    img {
      display: block;
      width: 100%;
    }
  }
  @include media($break__small) {
    a {
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// ----------------------------------- POST NAVIGATION
.post-navigation {
  @include outer-container(1000px);
  margin-bottom: 1.5em;
  a {
    border-top: 1px solid $hairline;
    border-bottom: 1px solid $hairline;
    font-size: .9em;
    display: block;
    margin-bottom: 1.5em;
    padding: 10px;
    &.next {
      text-align: right;
    }
  }
  .date {
    color: $red;
    margin-bottom: 0;
  }
  .title {
    font-size: 1.2em;
    margin-top: 0;
  }
  .subtitle {
    border-bottom: 1px solid $hairline;
    display: inline-block;
    padding: 4px 0;
    margin: 0;
    font-size: 0.9em;
    text-transform: uppercase;
  }
  @include media($break__small) {
    padding: 0 10px;
    a {
      @include span-columns(5);
      &:hover {
        background: $off-white;
      }
    }
    a:last-of-type {
      @include shift(2);
    }
  }
}
