.blog-archive {
  display: flex;
  flex-wrap: wrap;
  .post__listing {
    border-top: 1px solid $hairline;
    border-right: 1px solid $hairline;
    margin: 0;
    @include media($break__small) {
      padding: 2em;
      width: 33.333%;
      &:nth-child(3n) {
        border-right: none;
      }
    }
  }
}
