.site__footer {
  background: $tan;
  color: $charcoal;
  font-size: .9em;
  padding: 3em 20px;
  text-align: center;
  p {
    margin-bottom: 2em;
  }
  @include media($break__small) {
    padding: 8em 20px;
    p {
      margin-bottom: 4em;
    }
  }
  a:last-child span {
    display: none;
  }
}
