header.site-header {
  background: rgba(255,255,255,.98);
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  &.scrolled {
    .site__anchor {
      opacity: .45;
      visibility: visible;
    }
  }
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  @include media($break__small) {
    nav {
      padding-right: 1.3em;
    }
  }
}

// ----------------------------------------- Site Anchor
.site__anchor {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px .8em;
  img {
    max-width: 200px;
  }
  @include media($break__small) {
    padding-left: 1.3em;
  }
}

// ----------------------------------------- Top level links
.site__navigation--link {
  align-items: center;
  color: $charcoal;
  display: flex;
  font-size: 0.9em;
  font-weight: 300;
  padding: 0 8px;
  height: 100%;
  text-decoration: none;
  &.active {
    background: $off-white;
    color: $charcoal;
    box-shadow: 0 1px 0 0 $charcoal;
  }
  @include media($break__small) {
    font-size: 1em;
    padding: 1.75em .75em;
    &:hover {
      color: $charcoal;
      box-shadow: 0 2px 0 0 $charcoal;
    }
  }
}

// ----------------------------------------- Dropdown Menu

.navigation__dropdown {
  background: rgba(255,255,255,.95);
  bottom: 0;
  counter-reset: gallery-numbers;
  left: 0;
  opacity: 0;
  padding-top: 2em;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .25s cubic-bezier(.43,0,.62,1);
  z-index: -1;
  &.open {
    opacity: 1;
    transition: opacity .25s cubic-bezier(.43,0,.62,1);
    z-index: 20;
  }
  @include media($break__small) {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5em;
  }
  @include media($break__medium) {
    background: rbga(255,255,255,.8);
  }
}

// ----------------------------------------- Dropdown Links
.site__navigation--dropdown-link {
  color: $charcoal;
  display: block;
  font-size: 3.3vh;
  font-weight: bold;
  padding: .5em;
  text-decoration: none;
  &:before {
    align-self: flex-end;
    margin-bottom: 3px;
    color: $red;
    content: counter(gallery-numbers, decimal-leading-zero);
    counter-increment: gallery-numbers;
    display: inline-block;
    font-size: .6em;
    font-weight: 300;
    margin-right: .5em;
  }
  &:hover,
  &:focus {
    background: rgba(0,0,0,.75);
    color: white;
    outline: none;
  }
  @include media($break__small) {
    background: rgba(255,255,255,.75);
    border-bottom: 1px solid rgba(0,0,0,.25);
    align-self: flex-start;
    display: flex;
    font-size: .9em;
    padding: 4% 2%;
    width: 33.333%;
  }
  @include media($break__medium) {
    font-size: 1.5em;
    width: 33.333%;
  }
}

.site__navigation--dropdown-close {
  color: white;
  cursor: pointer;
  opacity: .75;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  img {
    width: 20px;
  }
  &:hover {
    opacity: 1;
  }
}
