.page__intro {
  padding: 2em 10px 1em 10px;
  @include media($break__small) {
    padding: 4em 10px 4em 10px;
  }
  img {
    display: block;
    height: 20px;
    margin: 0 auto;
    opacity: .15;
  }
  @include media($break__small) {
    img {
      height: 30px;
    }
  }
}

.page__title {
  font-size: 1.5em;
  text-align: center;
  @include media($break__small) {
    font-size: 2.75em;
  }
}

.page__quote {
  font-size: .9em;
  font-weight: 300;
  line-height: 1.15em;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
  @include media($break__small) {
    font-size: 1.2em;
  }
}

.page__quote--author {
  color: $red;
  font-size: .8em;
  font-weight: 300;
  margin: 0 0 3em 0;
  text-align: center;
  @include media($break__small) {
    font-size: 1em;
    margin-top: 0.25em;
  }
}

.page-content {
  overflow: hidden;
  border: 12px solid white;
  &.slim {
    border: 0;
  }
  @include media($break__small) {
    border: 18px solid white;
  }
}

