---
layout: default
permalink: /astrophotography/
title: Astrophotography
---

{% include page_intro.html
  title = "Astrophotography"
%}

<div class="l-grid">
  <section class="l-grid__primary" id="rig"></section>

  <section class="l-grid__secondary">
    <section id="astro-posts">
      {% for post in site.categories.astrophotography limit: 2 %}
        {% if post.url %}
          <a href="{{ post.url }}" class="post__listing">
            <p class="post__listing--date">{{ post.date | date: '%b %d %Y' }}</p>
            <h2 class="post__listing--title">{{ post.title }}</h2>
            <p class="post__listing--intro">{{ post.intro }}</p>
            <p class="post__listing--preview">{{ post.content | strip_html | truncatewords: 40 }}</p>
            <p class="post__listing--read-more">Read More</p>
          </a>
        {% endif %}
      {% endfor %}
    </section>

    <section id="stars">
    </section>

  </section>
</div>


<br>

<figure class="slim" id="astro__moon">
  <img src="/images/catalog/solar-eclipse-progression.jpg">
</figure>

<div id="astro-overview">
  <section id="scope-overview">
    <p>My primary astrophotography rig is a Celestron Ultima 11" Schmidt Cassegrain OTA which was built in 1994, even so it's still an amazing telescope. The 11" mirror gives it a focal length of 2800mm at f/11. I added a focal reducer which drops it 1680mm but speeds up to f/6.3, getting much more light to the sensor. The telescope is sitting on a Celestron CGEM GoTo computerized mount so I can track deep sky objects for long exposures. It's quite a steep learning curve but this hobby is a marathon, not a sprint. To aid in polar alignment I replaced the finderscope with a StarSense camera. I plan on replacing that with a ZWO autoguider camera with the ASIair guide computer so I can bypass using a PC laptop in the field.</p>
  </section>
  <section id="cgem"></section>
</div>

<br>

<figure class="slim" id="astro__moon">
  <img src="/images/catalog/moon-proper.jpg">
</figure>

<br>

<div class="blog-archive">
  {% for post in site.categories.astrophotography offset: 2 limit: 3 %}
    {% if post.url %}
      <a href="{{ post.url }}" class="post__listing large">
        <p class="post__listing--date">{{ post.date | date: '%b %d %Y' }}</p>
        <h2 class="post__listing--title">{{ post.title }}</h2>
        <p class="post__listing--intro">{{ post.intro }}</p>
        <p class="post__listing--preview">{{ post.content | strip_html | truncatewords: 40 }}</p>
        <p class="post__listing--read-more">Read More</p>
      </a>
    {% endif %}
  {% endfor %}
</div>


<div class="l-two-thirds">
  <section class="primary" id="astro-totality"></section>
  <section class="secondary" id="astro-lunar-eclipse"></section>
</div>

<figure class="slim">
  <img src="/images/posts/iss-third-stack-s.jpg">
</figure>

<div class="blog-archive">
  {% for post in site.categories.astrophotography offset: 5 %}
    {% if post.url %}
      <a href="{{ post.url }}" class="post__listing large">
        <p class="post__listing--date">{{ post.date | date: '%b %d %Y' }}</p>
        <h2 class="post__listing--title">{{ post.title }}</h2>
        <p class="post__listing--intro">{{ post.intro }}</p>
        <p class="post__listing--preview">{{ post.content | strip_html | truncatewords: 40 }}</p>
        <p class="post__listing--read-more">Read More</p>
      </a>
    {% endif %}
  {% endfor %}
</div>

<br>

<figure class="slim">
  <img src="/images/posts/lunar-progression-tall.jpg">
</figure>

<figure class="slim">
  <img src="/images/catalog/star-trails-3.jpg">
</figure>
