---
layout: page
title: Portfolio
permalink: /portfolio/
---

<section class='portfolio--fancy zoomable'>

  {% assign sorted_photos = (site.data.photos | where: "portfolio", "primary" | sort: "position") %}

  {% for photo in sorted_photos %}
    <figure class="{{ photo.orientation }}">
      <img class="lazy" data-original="/{{ photo.image_path }}"/>
      <noscript><img src="/{{ photo.image_path }}" /></noscript>
      <figcaption>
        <span class="title">{{ photo.title }}</span>
        <span class="exposure">{{ photo.exposure }}</span>
        <span class="date">{{ photo.date }}</span>
        <span class="description">{{ photo.description }}</span>
        <a href="/{{ photo.image_path }}" title="{{ photo.title }}"><i class="fa fa-search-plus"></i> Zoom In</a>
      </figcaption>
    </figure>
  {% endfor %}

</section>

<script>
  $(function() {
    $("img.lazy").lazyload({
      threshold : 200,
      effect: "fadeIn"
    });
  });
</script>

{% include gallery_script.html %}
