---
layout: default
permalink: astrophotography
background-image: "/images/eclipse-and-beehive.jpg"
overlay-type: dark
text-color: ffffff
---
{% include page_intro.html
  title = "Astrophotography"
  quote = "Somewhere, something incredible is waiting to be known."
  author = "Carl Sagan"
%}

<div class="c-image-grid">
  <a data-fancybox="gallery" href="/images/eclipse-2019-progression.jpg" data-caption="Lunar Eclipse, 2019" id="a-leclipse-1" class="large"></a>
  <a data-fancybox="gallery" href="/images/moon-proper.jpg" data-caption="Waxing Gibbous Moon" id="i-moon" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A4661.jpg" data-caption="Maple Park, Illinois" id="w-maple-2" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A4725.jpg" data-caption="Maple Park, Illinois" id="w-maple-3" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A4687.jpg" data-caption="<i>Five Trees</i>" id="w-five-trees" class="medium"></a>
  <a data-fancybox="gallery" href="/images/0K6A1968.jpg" data-caption="Leroy Oaks, St. Charles" id="w-leroy-2" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A4700.jpg"  data-caption="<i>Two Trees</i>" id="w-two-trees" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A4611.jpg" data-caption="Burlington Township, Illinois" id="w-burlington-1" class="medium"></a>
  <a data-fancybox="gallery" href="/images/solar-eclipse-progression.jpg" data-caption="2019 North American Eclipse" class="large" id="i-eclipse"></a>
</div>

{% include _fancybox-init.html %}
