---
layout: default
permalink: new-england
background-image: "/images/0K6A7923.jpg"
overlay-type: dark
text-color: ffffff
---
{% include page_intro.html
  title = "New England"
  quote = "Here in New England, the character is strong and unshakable."
  author = "Norman Rockwell"
%}

<div class="c-image-grid animated">
  <a data-fancybox="gallery" href="/images/head-light-sunrise.jpg" data-caption="Portland Head Light at sunrise" id="ne-head-light" class="large"></a>
  <a data-fancybox="gallery" href="/images/0K6A8007.jpg" data-caption="<i>Possibility</i>" id="ne-possibility" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A8056.jpg" data-caption="<i>Ripples II</i>" id="ne-ripples-2" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A2937-2.jpg" data-caption="Mystic River Bascule Bridge" id="ne-bascule-bridge" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A8049.jpg" data-caption="Dock cleat, Mystic, Connecticut" id="ne-cleat" class="medium"></a>
  <a data-fancybox="gallery" href="/images/IMG_9457.jpg" data-caption="Lobster Pot Markers" id="ne-markers" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A3203.jpg" data-caption="Latimer Reef Lighthouse, Stonington CT" id="i-latimer-reef" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A8053.jpg" data-caption="Ripples" id="ne-ripples" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A7877.jpg" data-caption="Dinghy" id="ne-dinghy" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A7564.jpg" data-caption="Fall Colors, New Hampshire" id="ne-nh-colors" class="medium"></a>
  <a data-fancybox="gallery" href="/images/0K6A7849.jpg" data-caption="Sailboat at dawn, Mystic, CT" id="ne-sailboat-dawn" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A7466.jpg" data-caption="Mt Washington Cog Railway" id="ne-cog-railway" class="small"></a>
  <a data-fancybox="gallery" href="/images/EI2C4807.jpg" data-caption="<i>Hoist the sails</i>" id="ne-hoist" class="small"></a>
  <a data-fancybox="gallery" href="/images/0K6A7232.jpg" data-caption="Colors of fall" class="small" id="ne-fall-colors"></a>
  <a data-fancybox="gallery" href="/images/0K6A2991.jpg" data-caption="Gravel Street, Mystic, Connecticut" id="ne-gravel-street" class="medium"></a>
</div>

{% include _fancybox-init.html %}
