<a class="blog__preview" href="{{ post.url }}">
  {% if post.thumbnail %}
    <img class="blog__preview--thumbnail" src="/images/posts/{{ post.thumbnail }}" />
  {% else %}
    <span class="blog__preview--thumbnail-missing"></span>
  {% endif %}
  <section class="blog__preview--body">
    <span class="blog__preview--date">{{ post.date | date: "%d %B %Y"}}</span>
    <h4 class="blog__preview--title">{{ post.title }}</span></h4>
    <span class="blog__preview--category">{{ post.category }}</span>
  </section>
</a>
