<div class="module__single">
  <h3 class="module-title">Contact</h3>
  <div class="content">
    <form id="contact" name="contact-form"  action="https://formspree.io/chris@gorilla-studios.com" method="POST">
      <meta name="referrer" content="origin" />
      <div class="input-group">
        <input class="form-input" type="text" name="name">
        <label for="name">Name</label>
      </div>
      <div class="input-group">
        <input class="form-input" type="email" name="_replyto">
        <label for="_replyto">Email Address</label>
      </div>
      <div class="input-group">
        <textarea class="form-input" name="body"></textarea>
        <label for="body">Message</label>
      </div>
      <button class="button__send" type="submit">
        <img src="/images/envelope.svg" alt="Send Email"/>
        Send
      </button>
      <input type="hidden" name="_next" value="//gorilla-studios.com/thank-you" />
    </form>
  </div>
</div>
