<div>
  <section>
    <p><img class='left headshot' src='/images/headshot-footer.jpg' alt='Chris Peak, Chicago based Photographer' />I am a photographer and web-developer from Chicago, IL. Specializing in landscape and nature photography, I also love shooting portraits, band promos, and concert photography whenever I get the chance. I have been lucky enough to shoot in Chicago, New York, Tokyo, London, and more. Gorilla-Studios is a place for me to showcase my growing portfolio while offering advice and support to photographers no matter what their skill level.</p>
  </section>
  <section class='copyright'>
    <p class='centered'>&copy;2014 Gorilla-Studios</p>
  </section>
  <section>
    <ul class='footer-nav'>
      <li><a href='/'>Home</a></li>
      <li><a href='/blog.html'>Blog</a></li>
      <li><a href='/portfolio.html'>Portfolio</a></li>
      <li><a href='/photo52.html'>Photo52</a></li>
      <li><a href='/contact.html'>Contact</a></li>
    </ul>
  </section>
</div>
