<footer>
  <div>
  <section>
    <h4>Gorilla-Studios Photography</h4>
    <p>Chicago, IL</p>
  </section>
  <section>
    <h4>Social</h4>
    <ul>
    <li><a href="http://www.twitter.com/gorilla_studios">Twitter</a></li>
    <li><a href="https://500px.com/gorilla-studios">500px</a></li>
    <li><a href="http://instagram.com/gorillastudios/">Instagram</a></li>
    <li><a href="https://www.flickr.com/photos/gorilla-studios">Flickr</a></li>
  </section>
  <section>
    <h4>Contact</h4>
    <p>chris@gorilla-studios.com</p>
  </section>
</div>
</footer>
