<div>
  <img src="/images/{{ photo.image_path }}" alt="{{ photo.image_description }}" />
  <section class="information">
  <p>{{ photo.title }}
  <span>
    <a href="#" class="toggle-information"><i class="fa fa-info"></i></a>
    <a class="zoomable_image" href="/images/{{ photo.image_path }}" title="{{ photo.title }}"><i class="fa fa-search-plus"></i></a>
  </span>
  </p>
  <p class="description">{{ photo.description }}<span><i class="fa fa-camera"></i> {{ photo.camera }} {{ photo.exposure }}</p>
  </section>

</div>

