<header class="site-header">
  <a class="site__anchor" href="/">
    <img src="/images/gs5.svg" alt="Gorilla-Studios Photography" />
  </a>
  <nav class="site__navigation">
    {% for item in site.data.navigation.primary %}
      {% assign class = nil %}
      {% if page.url contains item.url or page.url contains item.meta %}
        {% assign class = 'active' %}
      {% endif %}
      <a class="site__navigation--link {{ class }}" href="{{ item.url }}">{{ item.title }} </a>
    {% endfor %}
    <a class="site__navigation--link dropdown-toggle" href="#">Portfolios</a>
  </nav>
</header>

<div class="navigation__dropdown">
  {% for item in site.data.navigation.portfolios %}
    <a class="site__navigation--dropdown-link" href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
  <a class="site__navigation--dropdown-close dropdown-toggle"><img src="/images/close.svg" alt="Close menu" /></a>
</div>

<script>
  $( ".dropdown-toggle" ).click(function() {
    $(".navigation__dropdown").toggleClass( "open" );
  });
</script>
