<a class="site-title" href="{{ site.baseurl }}/"><img src="/images/gs5.svg" alt="Gorilla-Studios Photography" /></a>
<div id="nav">
  <ul>
    <li><a href="/portfolios/" data-page-id="portfolios">Portfolios</a></li>
    <li><a href="/blog/" data-page-id="blog">Blog</a></li>
    <li><a href="/about/" data-page-id="about">About</a></li>
  </ul>
</div>

<script>
  var currentPage = $("body").data("current-page");
  if (currentPage) {
    $("a[data-page-id='" + currentPage + "']").addClass("active");
  }
</script>

