<div class="site__sidebar">
  <nav class="sidebar__navigation">
    <a {% if page.id == 'about' %} class="active" {% endif %} href="/about">About</a>
    <a {% if page.id == 'blog' %} class="active" {% endif %} href="/blog">Blog</a>
    <h5>Portfolios</h5>
    <a {% if page.id == 'portfolio' %} class="active" {% endif %} href="/portfolio">Main</a>
    <a {% if page.id == 'music' %} class="active" {% endif %} href="/music">Music</a>
    <a {% if page.id == 'architecture' %} class="active" {% endif %} href="/architecture">Architecture</a>
    <a {% if page.id == 'astronomy' %} class="active" {% endif %} href="/astronomy">Astronomy</a>
    <a {% if page.id == 'chicago' %} class="active" {% endif %} href="/chicago">Chicago</a>
    <a {% if page.id == 'nature' %} class="active" {% endif %} href="/nature">Nature</a>
  </nav>
</div>
