$sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$baby-blue:   #F6FAFD;
$charcoal:    #3b3b3b;
$green:       #6FC2A1;
$gray:        #999;
$hairline:    #dddddd;
$light-gray:  #ccc;
$off-white:   #F8F8F9;
$red:         #F15254;

$break__small: 600px;
