$sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$baby-blue:   #F6FAFD;
$charcoal:    #3b3b3b;
$green:       #6FC2A1;
$gray:        #999;
$hairline:    #dddddd;
$light-gray:  #ccc;
$off-white:   #F8F8F9;
$red:         #C63F3F;
$yellow:      #FBF0A0;

$break__small: 600px;
$break__medium: 1000px;

$font-size-heading-xx-small: .825rem;
$font-size-heading-x-small: 1rem;
$font-size-heading-small: 1.25rem;
$font-size-heading-medium: 1.5rem;
$font-size-heading-large: 2.25rem;
$font-size-heading-x-large: 3rem;
$font-size-heading-xx-large: 4.5rem;
$font-size-heading-xxx-large: 10rem;

$font-size-xx-small: .625rem;
$font-size-x-small: .625rem;
$font-size-small: .7rem;
$font-size-medium: .8rem;
$font-size-large: .95rem;
$font-size-x-large: 1.05rem;


$spacing-none: 0;
$spacing-x-small: .5rem;
$spacing-xx-small: .25rem;
$spacing-xxx-small: .125rem;
$spacing-small: .75rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-x-large: 2rem;
$spacing-xx-large: 3rem;
$spacing-xxx-large: 4rem;

