// The Generic layer is the first one that actually produces any CSS. It houses very high-level, far reaching styles. This layer is seldom modified, and is usually the same across any projects you work on. It contains things like Normalize.css, global box-sizing rules, CSS resets and so on. The Generic layer affects a lot of the DOM, hence it being nice and wide in the Triangle model, and occurring very early on.

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html,
body {
  font-family: $sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  padding: 3.5em 0 0 0;
  @include media($break__small) {
    padding: 5em 0 0 0;
  }
}

.quote p {
  border-left: 1px solid $gray;
 font-size: .9em;
  padding-left: 1em !important;
}

img.headshot {
  border-radius: 50%;
  display: block;
  margin: 0 auto 2em auto;
  max-width: 150px;
}
