//  These are concerned with styling non-cosmetic design patterns, or 'objects'. Objects can range from something as simple as a .wrapper element, to layout systems, through to things like the OOCSS poster child – the Media Object. This layer affects less of the DOM than the last layer, has a higher specificity, and is slightly more explicit in that we are now targeting sections of the DOM with classes.


[class*="module__"] {
  border-top: 1px solid $hairline;
  padding: 20px 0;
  &.borderless {
    border: none;
  }
  @include media($break__small) {
    padding: 4em 0;
  }
}


.module__single .content {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}


.l-grid {
  @include media($break__small) {
    display: flex;
    flex-direction: row;
  }
}

.l-grid__primary {
  width: 100%;
  @include media($break__small) {
    width: 40%;
  }
  @include media($break__medium) {
    width: 50%;
  }
}

.l-grid__secondary {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include media($break__small) {
    width: 60%;
  }
  @include media($break__medium) {
    width: 50%;
  }
}

.l-two-thirds {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  .primary {
    padding-top: 100%;
    margin-bottom: 20px;
  }
  .secondary {
    padding-top: 100%;
  }
  @include media($break__small) {
    flex-direction: row;
    .primary {
      padding-top: 50%;
      margin: 0;
      width: 66.666%;
    }
    .secondary {
      padding-top: 0;
      width: 33.333%;
    }
  }
}
