.quote p {
  border-left: 1px solid $gray;
  font-size: .9em;
  padding-left: 1em !important;
}

// ------------------------------------------ BASIC IMAGES
img.headshot {
  border-radius: 50%;
  display: block;
  margin: 0 auto 2em auto;
  max-width: 150px;
}

// ------------------------------------------ LINKS

