* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@charset "utf-8";

// ---------------------------------------- Colors
$black-absolute: #000000;
$black: #262626;
$blue-navy: #3F576E;
$red: #990000;
$white: #FFF;

$charcoal: #2b2b2b;

$nav-background: rgba(255,255,255,0.98);

$link-color: $charcoal;
$link-hover: darken($link-color, 25%);

$hairline:         #DDDDDD;
$text-color:       $black;
$background-color: #fdfdfd;
$brand-color:      $blue-navy;

$facebook-blue: #425697;
$twitter-blue: #0084b4;
$google-red: #D43E3C;


$green: #69A55B;
$grey:  #828282;
$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);
$off-white: #eeeeee;


$site-width: 1200px;

// ---------------------------------------- Font & Vertical Rythm
$base-font-family: 'Proxima Nova', "proxima-nova", Helvetica, Arial, sans-serif;
$serif-font: "Baskerville", "baskerville-urw", serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$font--small: 0.875em;
$font--large: 1.25em;

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// ------------------------------------------- Breakpoints
$small: 600px;
$medium: 800px;
$large: 1000px;
$xlarge: 1200px;


@mixin media-query($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin prefix-property($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin transition($arguments) {
  @include prefix-property(transition, unquote($arguments));
}

@mixin transform($arguments) {
  @include prefix-property(transform, unquote($arguments));
}


// ---------------------------------------- Globals
body {
  -webkit-text-size-adjust: 100%;
  background-color: white;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  padding: 0;
  margin: 0;
  position: relative;
}

.marquee {
  @include media-query($medium) {
    background-image: url('/images/catalog/0K6A1975.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
  }
}


// ---------------------------------------- Images
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}


@include media-query($medium) {
  iframe {
    min-height: 500px !important;
  }
}


// ---------------------------------------- Figures
figure {
  margin: 0;
  & > img {
    display: block;
    margin-bottom: 5px;
  }
}

figcaption {
  color: $grey;
  font-size: $small-font-size;
}

// ---------------------------------------- Lists

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__plain {
  list-style: none;
  margin: 0;
}

// ----------------------------------------  Headings
h1, h2, h3, h4, h5, h6 {
  color: $charcoal;
  font-weight: 600;
}


.centered {
  text-align: center;
}

// ---------------------------------------- Code
code {
  background: #ECF2FF;
  padding: 4px 2px;
}

// -----------------------------------------  Links
a {
  border-bottom: 1px solid;
  color: $link-color;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $link-hover;
    border: none;
  }
}

// ----------------------------------------- Buttons
[class*="button__"] {
  background: $green;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid darken($green, 5%);
  color: white;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1em;
  padding: 0.75em 2em;
  &:hover {
    color: white;
    background: darken($green, 5%);
    border-bottom: 2px solid darken($green, 10%);
  }
}


// -----------------------------------------  Blockquote
blockquote {
  color: $grey;
  border-left: 4px solid $grey-light;
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  margin-left: 10px;

  > :last-child {
    margin-bottom: 0;
  }
  @include media-query($small) {
    margin-left: 40px;
  }
}


// ----------------------------------------- Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ----------------------------------------- Thank you
#thank-you {
  background: url("/images/black-white/trump-abstract.jpg");
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  .filmstrip {
    background: rgba(0,0,0,0.65);
    color: white;
    font-size: 1.4em;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    padding: 15% 5%;
  }
}

// ----------------------------------------- 404
#error-page {
  background: #f2f2f2;
  border-top: 1px solid $hairline;
  border-bottom: 1px solid $hairline;
  color: #aaa;
  font-size: 1.5em;
  height: 80%;
  padding: 10% 20%;
  text-align: center;
  text-shadow: 0px 1px 1px white;
}
