* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// ---------------------------------------- Globals
body {
  -webkit-text-size-adjust: 100%;
  background-color: white;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  padding: 0;
  margin: 0;
  position: relative;
}


// ---------------------------------------- Vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

// ---------------------------------------- Images
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
img.circular {
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


// ---------------------------------------- Figures
figure {
  margin: 0;
  & > img {
    display: block;
    margin-bottom: 5px;
  }
}

figcaption {
  color: $grey;
  font-size: $small-font-size;
}

// ---------------------------------------- Anchors
@media screen and (min-width: 600px) {
  .anchor:before {
    content:"";
    display:block;
    height: 120px; /* fixed header height*/
    margin: -120px 0 0; /* negative fixed header height */
  }
}



// ---------------------------------------- Lists
.list__plain {
  list-style: none;
  margin: 0;
}

// ----------------------------------------  Headings
h1, h2, h3, h4, h5, h6 {
  color: $charcoal;
  font-weight: 600;
}


.centered {
  text-align: center;
}

// ---------------------------------------- Code
code {
  background: #ECF2FF;
  padding: 4px 2px;
}

// -----------------------------------------  Links
a {
  border-bottom: 1px solid;
  color: $link-color;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $link-hover;
    border: none;
  }
}

// ----------------------------------------- Buttons
[class*="button__"] {
  background: $green;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid darken($green, 5%);
  color: white;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1em;
  padding: 0.75em 2em;
  &:hover {
    color: white;
    background: darken($green, 5%);
    border-bottom: 2px solid darken($green, 10%);
  }
}


// -----------------------------------------  Blockquote
blockquote {
  color: $grey;
  border-left: 4px solid $grey-light;
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  margin-left: 10px;

  > :last-child {
    margin-bottom: 0;
  }
}



@include media-query($small) {
  blockquote {
    margin-left: 40px;
  }
}


// ----------------------------------------- Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ----------------------------------------- Thank you

#thank-you {
  background: url("/images/black-white/trump-abstract.jpg");
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  .filmstrip {
    background: rgba(0,0,0,0.65);
    color: white;
    font-size: 1.4em;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    padding: 15% 5%;
  }
}
// ----------------------------------------- 404
#error-page {
  background: #f2f2f2;
  border-top: 1px solid $hairline;
  border-bottom: 1px solid $hairline;
  color: #aaa;
  font-size: 1.5em;
  height: 80%;
  padding: 10% 20%;
  text-align: center;
  text-shadow: 0px 1px 1px white;
}


