// --------------------------------------- Individual Posts
.post {
  @include outer-container(1000px);
  padding: 10px;
  h2, h3, h4, h5, p, ul {
    margin: 0 auto 1.5em auto;
    max-width: 800px;
  }
  .quote p {
    border-left: 2px solid $hairline;
    padding: 0 2em;
  }
  @include media-query($small) {
    padding: 2em 20px;
    margin-bottom: 3em;
    h2, h3, h4, h5, p, ul {
    }
    p {
      font-size: 120%;
    }
  }
}

// --------------------------------------- Post Title & Meta
.post__title {
  border-bottom: 1px solid $hairline;
  display: block;
  font-size: 1.777em;
  line-height: 1em;
  margin: 0 auto 0.5em auto;
  max-width: 800px;
  @include media-query($small) {
    line-height: 1.75em;
    font-size: 2.5em;
  }
}

.post__meta-information {
  display: block;
  color: $red;
  font-family: $base-font-family;
  font-size: 0.6em;
  font-weight: 300;
  float: right;
  margin-bottom: 0 !important;
  @include media-query($small) {
    display: inline-block;
    font-size: 0.5em;
    margin-left: 1em;
    vertical-align: middle;
  }
}

// --------------------------------------- Figures & iFrames
.post figure {
  margin: 0 auto 1.5em auto;
  figcaption span {
    float: right;
  }
  &.vertical {
    img,
    figcaption {
      margin: 0 auto;
      max-width: 60%;
    }
  }
  &.half-and-half {
    overflow: hidden;
    img {
      float: left;
      width: 49%;
    }
    img:first-of-type {
      margin: 0 1% 0 0;
    }
    img:last-of-type {
      margin: 0 0 0 1%;
    }
  }
}

.post iframe {
  margin: 0 auto 1.5em auto;
  width: 100%;
}








// --------------------------------------- Archive List
.blog-archive-list {
  -webkit-column-count: 2;
  column-count: 2;
  margin-bottom: 4em;
  a {
    border-bottom: 1px dotted $hairline;
    color: $charcoal;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    span {
      color: $grey;
      display: block;
      font-size: 1em;
      line-height: 1.25em;
      margin-bottom: 5px;
    }
    .date {
      color: $red;
    }
    &:hover {
      background: #f9f9f9;
    }
    &.next {

    }
  }
  @include media-query(800px) {
    -webkit-column-count: 3;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    a {
      padding: 10px;
    }
  }
}


// --------------------------------------- Pagination Lists

.page-navigation {
  margin-top: 4em;
}
.page-navigation a {
  border: 1px solid $hairline;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  &.next {
    text-align: right;
  }
  div {
    h3,
    p {
      color: black;
      font-size: 90%;
      line-height: 1.25em;
      margin: 0;
    }
    p.subtitle {
      border-bottom: 1px solid #ccc;
      color: #555;
      font-size: 0.7em;
      margin-bottom: 5px;
      text-transform: uppercase;
      padding: 4px 0;
    }
    p.date {
      color: $red;
      font-size: 0.75em;
      margin-top: 4px;
    }
  }
  @media screen and (min-width: 800px) {
    @include span-columns(4);
    &.next {
      @include shift(4);
    }
  }
}

