.block-list {
  @include outer-container;
  padding: 20px;
  a {
    border: 1px solid $hairline;
    display: block;
    margin-bottom: 1em;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .block-list a {
    @include span-columns(3);
    @include omega(4n);
    margin-bottom: 3em;
  }
}

