.new-grid {
  background: white;
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
  column-gap: 0;
  position: relative;
  a {
    break-inside: avoid-column;
    border: none;
    display: block;
    padding: 0.5em;
    img {
      transition: all 0.25s ease-in;
      width: 100%;
    }
    &:hover img {
      box-shadow: 0px 0px 0px 10px $off-white;
    }
  }
  @include media-query($small) {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    padding: 0.5em;
  }
  @include media-query($medium) {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
  @include media-query($large) {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
  @include media-query($xlarge) {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
}

// ------------------- Zoomed Image Meta Info
.lg-sub-html {
  font-size: .85em;
}

// ------------------- Zoomed Image Camera Icon
.lg-sub-html span:before {
  content: '\f030';
  font-family: "FontAwesome";
  font-size: 0.7em;
  margin: 0 0.25em 0 1em;
  opacity: 0.5;
}

// ---------------------------------------------- Legacy Gallery
.legacy-gallery {
  display: block;
  @include outer-container(1200px);
  padding: 0 10px;
  figure {
    margin: 0 auto 4em auto;
    img {
      margin: 0 auto;
      display: block;
    }
    &.vertical {
      @include span-columns(8);
      @include shift(2);
    }
  }
  @include media-query($medium) {
    padding-top: 4em;
    figure.vertical {
      @include span-columns(6);
      @include shift(3);
    }
  }
}
