.site-header {
  @include outer-container;
  padding: 10px;
  transition: all 0.25s ease-in;
  .site-title {
    border: none;
    @include span-columns(8);
    @include shift(2);
    padding: 20px 0;
    img {
      display: block;
      margin: 0 auto;
      max-width: 200px;
    }
  }
  nav {
    @include span-columns(12);
    text-align: center;
    a {
      border: none;
      display: inline-block;
      padding: 5px;
    }
  }
}

@media screen and (min-width: 650px) {
  .site-header {
    overflow: hidden;
    padding: 20px;
    .site-title {
      @include span-columns(4);
      @include shift(0);
      padding: 0;
      img {
        margin: 0;
        padding-top: 25px;
        max-width: 200px;
      }
    }
    nav {
      @include span-columns(8);
      text-align: right;
      a {
        padding: 30px 25px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .site-header {
    padding: 2em 20px;
  }
}
