.header__site-wide {
  @include outer-container(9999px);
  padding: 20px;
  a:hover {
    cursor: pointer;
  }
  @include media-query($small) {
    padding: 2em;
  }
}

// ----------------------------- Logo & Menu Toggle
.header__logo-and-toggle {
  overflow: hidden;
  margin-bottom: 5px;
  @include media-query($small) {
    @include span-columns(4);
  }
  @include media-query($large) {
    @include span-columns(3);
  }
}

.header__logo-anchor {
  @include span-columns(10);
  border: none;
  img {
    display: block;
    max-width: 250px;
    width: 100%;
  }
  @include media-query($small) {
    @include span-columns(12);
  }
}

.header__menu-toggle {
  border: none;
  opacity: 0.7;
  img {
    float: right;
    margin-top: 5px;
    max-width: 30px;
  }
  @include span-columns(2);
  @include media-query($small) {
    display: none;
  }
}

.nav__dropdown-toggle {
  font-weight: bold;
  @include media-query($small) {
    font-weight: 300;
    &:after {
      content: "\f107";
      font-family: "FontAwesome";
      margin-left: 4px;
    }
  }
}

// ----------------------------- Navigation
.header__navigation {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
  width: 100%;
  a {
    border-bottom: 1px solid $hairline;
    display: block;
    padding: 0.5em;
  }
  &.opened {
    max-height: 999px;
  }

  @include media-query($small) {
    @include span-columns(7);
    max-height: 900px;
    a {
      border: none;
      display: inline-block;
      padding: 0.75em;
      margin-right: 2px;
    }
    section.nav__top-menu {
      float: left;
      margin: 0;
      a:hover {
        box-shadow: inset 0px -3px 0px 0px $green;
      }
    }
    section.nav__submenu {
      background: rgba(255,255,255,0.98);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 5;
      a {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        float: left;
        margin: 0;
        opacity: 0.8;
        padding: 5em 0 2em 0;
        text-align: center;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        width: 33.333%;
        &:hover {
          opacity: 1;
          box-shadow: inset 0px 0px 0px 8px white;
        }
      }
      &.initial {
        top: -30%;
        opacity: 0;
      }
      &.open {
        animation: submenu 0.4s forwards;
      }
      &.touched.closed {
        animation: submenu__close 1s forwards;
      }
    }
  }
  @include media-query($large) {
    @include span-columns(9);
    section.nav__submenu a {
      border: solid $nav-background;
      border-width: 30px 15px 30px 15px;
      width: 20%;
      &:first-of-type {
        border-left: 30px solid $nav-background;
      }
    }
    #nav__nature {
      border-right: 30px solid $nav-background;
    }
  }
}

#dropdown-close {
  display: none;
}

@include media-query($small) {
  #nav__music {
    background: url("/images/thumbnails/0K6A4915.jpg");
    background-size: cover;
    color: white;
  }
  #nav__black-white {
    background: url("/images/thumbnails/0K6A8852.jpg");
    background-size: cover;
    color: white;
  }
  #nav__astronomy {
    background: url("/images/thumbnails/star-trails-3.jpg");
    background-size: cover;
    color: white;
  }
  #nav__chicago {
    background: url("/images/thumbnails/CRW_5929.jpg");
    background-size: cover;
    color: white;
  }
  #nav__nature {
    background: url("/images/thumbnails/CRW_0509.jpg");
    background-size: cover;
    color: white;
  }
  #dropdown-close {
    border: none;
    display: block;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-shadow: none;
    top: -20px;
    width: 60px;
    img {
      width: 25px;
    }
    &:hover {
      transform: rotate(180deg);
      box-shadow: none;
    }
  }
}

