[class*="module__"] {
  @include outer-container(1200px);
  padding: 10px;
}

@media screen and (min-width: 600px) {
  [class*="module__"] {
    border-top: 1px solid $hairline;
    padding: 2em 20px 4em 20px;
    .title {
      @include span-columns(3);
      margin-top: 0;
      padding: 0;
      text-align: left;
    }
    .content {
      @include span-columns(7);
      h4, p {
        font-size: 110%;
        margin-top: 0;
      }
    }
  }
}
