.page-content {
  overflow: hidden;
}


[class*="module__"] {
  border-top: 1px solid $hairline;
  padding: 20px;
  &.borderless {
    border: none;
  }
  @include outer-container;
  @include media($break__small) {
    padding: 4em 20px;
  }
}


.module__single .content {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
