[class*="module__"] {
  @include outer-container(1200px);
  padding: 10px;
}

@include media-query($small) {
  [class*="module__"] {
    border-top: 1px solid $hairline;
    padding: 2em 20px 4em 20px;
    .title {
      @include span-columns(3);
      margin-top: 0;
      padding: 0;
      text-align: left;
    }
    .content {
      @include span-columns(7);
      h4, p {
        font-size: 110%;
        margin-top: 0;
      }
    }
  }
}


@include media-query($small) {
  .module__about {
    .content {
      @include span-columns(6);
    }
    .headshot {
      @include span-columns(3);
    }
  }
}

.triptych {
  @include outer-container;
  padding: 10px;
  img {
    margin-bottom: 4em;
  }
  @include media-query($small) {
    padding: 0;
    img {
      @include span-columns(4);
    }
  }
}
