@mixin media($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@mixin input-reset {
  border-radius: 0;
  border: 1px solid $gray;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
