.divider {
  margin: 20px 0;
  position: relative;
  text-align: center;
  p {
    @include sans-serif-light;
    background: #fff;
    font-size: .8em;
    display: inline-block;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    border-top: 1px solid rgba(0,0,0,0.25);
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .divider p {
    font-size: 1em;
  }
  .divider:before {
    top: 12px;
  }
}
