$red: #990000;
$slate: #262626;
$cream: #f0eded;


@mixin content-width {
  margin: 0 auto;
  width: 95%;
  max-width: 1500px;
}

@mixin sans-serif-heavy {
  font-family: "jaf-bernino-sans-condensed", sans-serif;
}

@mixin sans-serif-light {
  font-family: "freight-sans-pro";
  font-weight: 300;
}
@mixin sans-serif {
  font-family: "freight-sans-pro";
  font-weight: 400;
}
@mixin sans-serif-medium {
  font-family: "freight-sans-pro";
  font-weight: 500;
}

@mixin sans-serif-bold {
  font-family: "freight-sans-pro";
  font-weight: 700;
}
