.blog__previews {
  transition: all .2s ease;
  padding: 1em;

  @include media(640px) {
    padding: 10%;
  }
  @include media(1024px) {
  }
}


.blog__preview {
  border-top: 1px dotted #859bb9;
  padding-top: 1em;
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 3em auto;
  text-decoration: none;
  color: black;

  @include media(640px) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1em;
    margin: 0 auto 6em auto;
  }
}

.blog__preview--thumbnail {
  margin-bottom: 1em;
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  @include media(640px) {
    margin: 0;
  }
}

.blog__preview--thumbnail-missing {
  background: #eee;
  padding-top: 56.25%;
  width: 100%;
}

.blog__preview--body {
  display: flex;
  flex-direction: column;
}

.blog__preview--date {
  color: #3366cc;
  margin-bottom: 0.5em;
}

.blog__preview--title {
  margin: 0;
  font-size: 28px;
}

.blog__preview--category {
  align-self: flex-start;
  background: #eee;
  border-radius: 22px;
  font-size: 0.8em;
  margin: 2em 0 0 0;
  padding: 4px 8px;
  text-transform: capitalize;
  @include media(640px) {
    margin-top: auto;
  }
}

