
// ---------------------------------------- WRAPPER
.post {
  max-width: 1000px;
  margin: 5% auto;
  padding: 2em;
  @include media($break-small) {
  }
  @include media($break-large) {
  }
}

// ---------------------------------------- POST CONTENT
.post-content {
  h2, h3 {
    border-top: 1px dotted #859bb9;
    font-size: 1.25em;
    padding-top: 0.5em;
  }

  p, quote {
    line-height: 1.75em;
    margin-bottom: 3em;
  }
   quote {
     border-left: 2px solid #3366cc;
     color: #666;
     display: block;
     font-style: italic;
     padding-left: 2em;
   }

  ol {
    line-height: 1.75em;
  }

  @include media($break-small) {
    p, ol {
      padding-left: 10%;
    }
    quote {
      margin-left: 10%;
    }
  }

  @include media($break-large) {
    p, ol {
      padding-left: 20%;
    }
    quote {
      margin-left: 20%;
    }
  }
}

// ---------------------------------------- POST HEADER
.post-header {
  text-align: center;
  margin-bottom: 3em;
  h1 {
    margin: 0;
    font-weight: 800;
  }
  @include media($break-small) {
    h1 {
      font-size: 4em;
    }
  }
}

// ---------------------------------------- IMAGE BLOCK
.post-content figure {
  border-top: 1px dotted #859bb9;
  margin: 0 0 3em 0;
  padding-top: 1em;
  display: flex;
  flex-direction: column-reverse;

  figcaption {
    align-items: center;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    margin-top: 0.5em;

    span {
      background: #eee;
      border-radius: 22px;
      display: block;
      display: inline-block;
      font-size: 0.9em;
      margin: 4px 0 0 4px;
      padding: 2px 12px;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  @include media($break-small) {
    display: grid;
    grid-template-columns: 10% 90%;
    figcaption {
      display: block;
      margin: 0;
      padding-right: 1em;
    }
  }

  @include media($break-large) {
    grid-template-columns: 20% 80%;
  }
}

// ---------------------------------------- POST NAVIGATION

.post-navigation {
  border-top: 1px dotted #859bb9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20%;
  margin: 8em auto;
  max-width: 800px;
  padding-top: 3em;

  a {
    border-bottom: 1px solid #2b2b2b;
    color: black;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-decoration: none;
    transition: all .2s ease;

    label {
      color: #3366cc;
      padding: 0;
      margin: 0;
      font-size: 0.9em;
      cursor: pointer;
    }

    span {
      cursor: pointer;
      display: block;
      font-size: 1em;
      font-weight: 600;
      line-height: 1.25em;
      margin-bottom: 1em;
    }

    &:hover {
      border-bottom: none;
    }
  }

  @include media(600px) {
    grid-gap: 20%;
  }

  @media (prefers-color-scheme: dark) {
    a {
      border-color: white;
    }
  }
}

