.post {
  background: rgba(255,255,255,0.95);
  color: inherit;
  margin: 1em;
  max-width: 1000px;
  padding: 1em;
  &.dark {
    background: rgba(0,0,0,0.95);
  }
  @include media($break-small) {
    padding: 2em 5%;
    margin: 5% 1em;
    &.animated {
      animation: post-fade-in-slide-up 2s ease;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;
      opacity: 0;
    }
  }
  @include media($break-large) {
    padding: 2em 10%;
    margin: 5% auto;
  }
}


.post-container {
  width: 100%;
  padding: 1em;
  @include media(640px) {
    padding: 2em;
  }
}

figure {
  padding: 0;
  margin: 0 0 3em 0;
  img {
    margin: 0;
  }
  figcaption {
    display: flex;
    flex-direction: row;
    font-size: .8em;
    padding-top: 8px;
    span {
      margin-left: auto;
    }
  }
  &.vertical {
    img {
      margin: 0 auto;
      width: 60%;
    }
    figcaption {
      margin: 0 20%;
    }
  }
}


.post-header {
  padding: 6%;
  text-align: center;
}

.post-title {
  font-size: calc(16px + 3vw);
  line-height: 1;
  margin: 0;
}

.post-meta {
  text-transform: uppercase;
  margin-bottom: 2em;
  @include media(640px) {
    font-size: 1.2vw;
    font-weight: 300;
  }
}

.post-content {
  h2, h3, h4, h5 {
    font-size: calc(16px + 1.1vw);
    margin: 0 auto 3vw auto;
  }
  img {
    display: block;
    width: 100%;
    &.slim {
      margin: 0 auto 3em auto;
      max-width: $content-width;
    }
  }
  p, .quote {
    font-size: calc(16px + .4vw);
    font-weight: 300;
    line-height: 1.75;
    margin: 0 auto 3vw auto;
  }
  .quote {
    border-left: 5px solid;
    display: block;
    padding-left: 1em;
    font-style: italic;
    p {
      font-size: .8em;
    }
  }
  a, a:visited {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.post-content-container {
  margin: 0 auto 3em auto;
  max-width: $content-width;

}


// ------------------------------ POST NAVIGATION
.post-navigation {
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
  margin: 4em auto 0 auto;
  max-width: $content-width;
  a {
    border: 1px solid;
    color: inherit;
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
    width: 45%;
    transition: all .4s ease;
    .subtitle {
      text-transform: uppercase;
      font-size: .7em;
    }
    .title {
      font-size: calc(14px + .5vw);
    }
    &:hover,
    &:focus {
      border-color: $red;
      box-shadow: 0 0 0 4px $red;
      outline: none;
    }
  }
  @include media(640px) {
    padding: 4em 0;
    a {
      width: 40%;
    }
  }
}

