.c-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 1em;
  transition: all .8s ease;
  a {
    position: relative;
    text-decoration: none;
    transition: all .8s ease;
    img {
      aspect-ratio: 1 / 1;
      display: block;
      object-fit: cover;
      width: 100%;
    }
    span {
      color: #fff;
      font-size: .8em;
      margin-top: 5px;
      position: absolute;
      text-align: right;
      transition: all .8s ease;
      width: 100%;
    }
    &:focus {
    }
    &:hover {
      transform: scale(1.1);
      span {
        color: #595959;
      }
    }
  }
  @include media($break-small) {
    grid-gap: 3em;
    padding: 2em;
  }
  @include media($break-medium) {
    grid-gap: 5em;
    padding: 3em;
  }
  @include media($break-large) {
    grid-gap: 8em;
    padding: 4em;
  }
}

.c-image-link {
  border: 1px dashed #ccc;
  margin: 4em 4em 2em 4em;
  padding: 2em;
  text-align: center;
}
