.c-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 1em;
  transition: all .8s ease;
  a {
    transition: all .8s ease;
    img {
      aspect-ratio: 1 / 1;
      display: block;
      object-fit: cover;
      width: 100%;
    }
    &:focus {
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  @include media($break-small) {
    grid-gap: 3em;
    padding: 2em;
  }
  @include media($break-medium) {
    grid-gap: 5em;
    padding: 3em;
  }
  @include media($break-large) {
    grid-gap: 8em;
    padding: 4em;
  }
}
