<div class="portfolio-link">
  <a href="/urban/"><div class="link" style="background-image: url('/images/previews/urban-circle.jpg')"></div></a>
  <p>Urban</p>
</div>

<div class="portfolio-link">
  <a href="/landscapes/"><div class="link" style="background-image: url('/images/previews/landscapes-circle.jpg')"></div></a>
  <p>Landscapes</p>
</div>

<div class="portfolio-link">
  <a href="/portraits/"><div class="link" style="background-image: url('/images/previews/portraits.jpg')"></div></a>
  <p>Portraits</p>
</div>

<div class="portfolio-link">
  <a href="/music/"><div class="link" style="background-image: url('/images/previews/music.jpg')"></div></a>
  <p>Music</p>
</div>

<div class="portfolio-link">
  <a href="/nature/"><div class="link" style="background-image: url('/images/previews/nature.jpg')"></div></a>
  <p>Nature</p>
</div>

