<div class="portfolio-link">
  <a href="/chicago/"><div class="link" style="background-image: url('/images/previews/chicago.jpg')"></div></a>
  <p>Chicago</p>
</div>

<div class="portfolio-link">
  <a href="/new-york/"><div class="link" style="background-image: url('/images/previews/new-york.jpg')"></div></a>
  <p>New York</p>
</div>

<div class="portfolio-link">
  <a href="/london/"><div class="link" style="background-image: url('/images/previews/london.jpg')"></div></a>
  <p>London</p>
</div>

<div class="portfolio-link">
  <a href="/black-and-white/"><div class="link" style="background-image: url('/images/previews/black-white.jpg')"></div></a>
  <p>Black &amp; White</p>
</div>

<div class="portfolio-link">
  <a href="/architecture/"><div class="link" style="background-image: url('/images/previews/architecture.jpg')"></div></a>
  <p>Architecture</p>
</div>

