<div class="portfolio-link">
  <a href="/landscapes/"><div class="link" style="background-image: url('/images/previews/landscapes-circle.jpg')">
      <section class="info">
      <p>Landscapes</p>
      </section>
  </div></a>
</div>

<div class="portfolio-link">
  <a href="/music/"><div class="link" style="background-image: url('/images/previews/music.jpg')">
      <section class="info">
      <p>Music</p>
      </section>
  </div></a>
</div>

<div class="portfolio-link">
  <a href="/black-and-white/"><div class="link" style="background-image: url('/images/previews/black-white.jpg')">
      <section class="info">
      <p>Black &amp; White</p>
      </section>
  </div></a>
</div>

<div class="portfolio-link">
  <a href="/nature/"><div class="link" style="background-image: url('/images/previews/nature.jpg')">
      <section class="info">
      <p>Nature</p>
      </section>
  </div></a>
</div>


<div class="portfolio-link">
  <a href="/urban/"><div class="link" style="background-image: url('/images/previews/urban.jpg')">
      <section class="info">
      <p>Urban</p>
      </section>
  </div></a>
</div>


