<section id="index-news">
  <p class="news-item"><span>10 • 5 • 15</span> Introducing Gorilla-Studios new site design. This is the 6th major revision to the site and hopefully the last for a while now. Please enjoy.</p>
  <p class="news-item"><span>10 • 1 • 15</span> I am currently looking into printers and framers in the area so I can start selling my work again. Please stay tuned.</p>
  <div id="tw-widget1"></div>
</section>
<section id="index-blog">
  <ul>
    {% for post in site.posts | limit: 4  %}
    <li><a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.intro }}</p>
    </a></li>
    {% endfor %}
    <li><a href="/blog-archive">
      <h3>Older posts</h3>
    </a></li>
  </ul>
</section>
