<div class="portfolio-link">
  <a href="/chicago/"><div class="link" style="background-image: url('/images/previews/chicago.jpg')">
      <section class="info">
      <p>Chicago</p>
      </section>
  </div></a>
</div>

<div class="portfolio-link">
  <a href="/new-york/"><div class="link" style="background-image: url('/images/previews/new-york.jpg')">
      <section class="info">
      <p>New York</p>
      </section>
  </div></a>
</div>

<div class="portfolio-link">
  <a href="/london/"><div class="link" style="background-image: url('/images/previews/london.jpg')">
      <section class="info">
      <p>London</p>
      </section>
  </div></a>
</div>

<div class="portfolio-link">
  <a href="/black-and-white/"><div class="link" style="background-image: url('/images/previews/black-white.jpg')">
      <section class="info">
      <p>Black &amp; White</p>
      </section>
  </div></a>
</div>

<div class="portfolio-link">
  <a href="/architecture/"><div class="link" style="background-image: url('/images/previews/architecture.jpg')">
      <section class="info">
      <p>Architecture</p>
      </section>
  </div></a>
</div>

