<!DOCTYPE html>
<html lang="en">
  <head>
    {% include common-header.html %}
    <script type="text/javascript">

      var marquee_array = ["inky-lake.jpg", "tower.jpg", "rainy-sail.jpg", "london-eye.jpg", "bass.jpg", "hancock.jpg", "chicago-river.jpg", "lighthouse-sails.jpg"];

      function getRandomImage(imgAr, path) {
        path = path || '/images/marquee/';
        var num = Math.floor( Math.random() * imgAr.length );
        var img = imgAr[ num ];
        var imgStr = path + img;
        return imgStr;
      }

      function carousel() {
          var randomImg = getRandomImage(marquee_array);
          $('#marquee').css({'background-image': "url(" + randomImg + ")" });
        }

        setInterval( carousel, 10000);

    </script>
  </head>

  <body>
    <header id="marquee" class='marquee'>
    <div class="header_content animated fadeIn">
      <section id='navigation'>
        {% include navigation.html %}
      </section>
      <section id='branding'>
       <a href="/"><img src="/images/gostu-white.png" alt="Gorilla-Studios Photography &amp; Design" /></a>
      </section>
    </div>
  </header>
  <div class='ugly-fix'>
    <img src="images/marquee/tower.jpg">
    <img src="images/marquee/rainy-sail.jpg">
    <img src="images/marquee/london-eye.jpg">
    <img src="images/marquee/bass.jpg">
    <img src="images/marquee/hancock.jpg">
    <img src="images/marquee/chicago-river.jpg">
    <img src="images/marquee/lighthouse-sails.jpg">
  </div>

  <div class='wrap'>
    {{ content }}
  </div>
  <footer>
    {% include footer.html %}
  </footer>
  <script>
    var nav = responsiveNav(".nav-collapse");
  </script>
</body>
</html>
